/* Add your CSS code below */
a.link--map{
    background-color: red;
    text-decoration: none;
    font-weight: bold ;
}
a.link--gif{
    background-color: red;
    text-decoration: none;
    font-weight: bold;
}
time.message__time{
font-size: 0.9rem;
}

.message__content6{

border-left:5px solid blue;
}

.message__content1{
    background-color:  rgba(0,0,0,0.5);
}
